body
{
	background-color: #fff;
	font-family: Verdana, "Bitstream Vera Sans", Geneva, Arial, Helvetica, Helve;
	font-size: 12px;
	margin: 0;
	padding: 0;
	min-width: 920px;
	background-color: #eef;
}
div.indented {
  width: auto; 
  height: auto; 
  position: relative; 
  padding-left: .5em;
}
div.margin {
  width: auto; 
  padding-top: 0px; 
  margin: 0px; 
  position: relative; 
  border-top: 3px solid DarkSlateGray;
}
span.nuctable {
  float: left;
  position: relative;
  margin: 1px;
  width: 100px;
  border: 0px solid white;
}
span.nuctableHeader {
  float: left;
  position: relative;
  margin: 1px;
  width: 100%;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 0px solid white;
}
.margin
h4
{
  margin-top: 0px;
  padding-left: 2px;
  margin-left: 0px;
  font-weight: bolder;
  padding-bottom: 3px;
  margin-right: 5px;
}
.margin
a {

  margin-left: 2px;
  margin-right: 15px;
  display: block;
  padding-bottom: 4px;
  font-weight: bold;
}

legend {
 width: 75%;
}

.note {
    font-size: 90%;
}
