body
{
	background-color: #fff;
	font-family: Verdana, "Bitstream Vera Sans", Geneva, Arial, Helvetica, Helve;
	font-size: 12px;
	margin: 0;
	padding: 0;
	min-width: 920px;
	background-color: #eef;
}

p, blockquote, li, h3
{
	font-family: Verdana, "Bitstream Vera Sans", Geneva, Arial, Helvetica, Helve;
	font-size: 12px;
	line-height: 1.6em;
	text-align: left;
}

blockquote
{
	margin-left: 20px;
	margin-right: 0px;
}


a
{
	color: #369;
	text-decoration: none;
	font-weight: bolder;
}
a:hover
{
	text-decoration: underline;
}

/* generic headings */
h1
{
	color: white;
	text-decoration: none;
	font-size: 170%;
	font-weight: bolder;
	
	background-color: #333;
	border: 1px solid #999;
	
	padding: 3px;
	width: 100%;
	margin: 0;
	margin-bottom: 10px;
	
	clear: right;
}

h2
{
	color: black;
	margin: 5px;
	font-weight: normal;
	text-decoration: none;
	font-size: 160%;
}

h3
{
	color: black;
	font-weight: normal;
	text-decoration: none;
	font-size: 130%;
}

/* generic lists */
ul
{
	padding: 0;
	margin: 0;
}
li
{
	list-style-type: square;
	list-style-position: inside;
	margin: 2px;
	padding-left: 10px;
}

/* #header */
#header
{
	width: 100%;
	text-align: left;
	background: black url('/i/bx-logo.png');
	color: #fff;
	background-repeat: no-repeat; 
	background-position: 0 0;
/*	background-attachment: fixed;*/
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
#header a
{
	color: #fff;
	text-decoration: none;
}
#header h1
{
	font-size: 170%;
}
#header h2
{
	font-size: 100%;
}
/* END #header */

/* navigation */
#navcontainer
{
	text-align: center;
}
#navlist
{
	padding: 0;
	margin: 0;

}
#navlist li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
	font-family: Verdana, sans-serif;
}
#navlist li a
{
	padding: 3px 0.5em;
	margin-left: 3px;
	background: #DDE;
	text-decoration: none;
	color: black; 
}
#navlist li a:hover
{
	color: #000;
	background: #AAE;
}
#navlist li a#current
{
	background-color: #eef;	
	background: #99d;
}
/* END navigation */

#breadcrumbs
{
	margin: 2px;
	padding: 2px;
	background-color: #dde;
	border: 1px solid #778;
}

/* #content */
#content
{
	padding: 10px;
	margin-right: 5px;
}

#content hr
{
	color: #ccc;
	width: 75%;
	margin-top: 2em;
	margin-bottom: 2em;
}
/* END #content */

/* #lsidebar */
#lsidebar
{
	width: 200px;
	padding: 2px;
	float: left;
}
/* IE6 fix */
* html #lsidebar
{
	left: 200px;
}
#lsidebar h2
{
	margin: 0;
	padding: 2px;
}
#lsidebar ul
{
	padding: 0;
	margin: 0;
}
#lsidebar li
{
	list-style-type: square;
	list-style-position: inside;
	margin: 0;
	padding-left: 10px;
}

.sidebartitle
{
	background: #99d;
	font-weight: bold;
	color: black;
	padding: 2px;
	margin: 0;
	border: 1px solid gray;
}
/* END #lsidebar */

/* #footer */
#footer
{
	clear: both;
	text-align: center;
}
#footer li
{
	list-style: none;
	display: inline;
	padding: 0;
}

span#lastmodified {
	background-color: #dde;
	border: 1px solid #778;
	padding: 2px;
}
/* END #footer */

/* news-related stuff */
.news dd {
	background-color: white;
	margin-left: 5px;
	margin-bottom: 5px;
	padding: 2px;
	border-bottom: 1px solid #778;
}

#newsheader {
	background-color: #333;
	border: 1px solid #999;
	color: white;
	font-size: 120%;
	font-weight: bolder;
	padding: 3px;
	width: 100%;
	margin-bottom: 10px;
}
span.newstitle {
	font-weight: bold;
	font-size: 110%;
}

span.newsdate {
	font-size: 80%;
	font-style: italic;
	font-weight: bold;
	padding-left: 10px;
	float: right;
}
.fullarticle {
	font-size: 90%;
	font-style: italic;
	margin: 0;
}

.permalink {
	font-size: 90%;
	font-style: italic;
	text-align: right;
	margin: 0;
}
/* END news related stuff */

.box
{
	background-color: #dde;
	margin: 4px;
	padding: 4px;
	border: 1px solid #aab;
}

p.indent
{
	padding-left: 15px;
	margin: 0;
}

/* search */
#search
{
	width: 165px;
	padding: 5px;
	vertical-align: middle;
}

#accessibility
{
	position: absolute;
	top: -10000px;
}

