      <!--
        <div class="margin" style="visibility: hidden;  left: 975px;">
        <h4>
          Links
        </h4>
        <a href="http://www.bx.psu.edu">BX Website</a> <a
        href="http://dev.bx.psu.edu">BX Developmental Website</a>
        <h4 class="margin">
          Servers
        </h4>
        <a target="external" href="http://galaxy.psu.edu">Galaxy Server</a> <a
        target="external" href="http://www.genome.ucsc.edu">UCSC Genome Browser</a>
        <a target="external" href="http://jaspar.cgb.ki.se/">JASPAR</a>
        <h4 style="margin-top: 2px;" class="margin">
          File Formats
        </h4>
        <a target="info"
        href="http://www.genome.ucsc.edu/FAQ/FAQformat.html#format5">MAF
        &middot; UCSC definition</a> <a target="info"
        href="http://www.ncbi.nlm.nih.gov/blast/fasta.shtml">FASTA&middot; NCBI
        definition</a>
        <h4 class="margin">
          Example Input Data
        </h4>
        <span
        style="display: inline; background-color: DarkBlue;border-top: 1px solid white;">.</span><a
        style="display: inline;" href="examples/ghp010.maf">MAF</a><br /> <span
        style="background-color: DarkBlue;border-top: 1px solid white;">.</span><a
        style="display:inline;" href="examples/ghp010.fa">FASTA</a><br /> <span
        style="color: DarkRed;background-color: DarkRed; border-top: 1px solid white;">.</span><a
        target="info"
        style="font-variant: small-caps; font-style: italic; display: inline;"
        href="examples/jaspar-like.txt">Jaspar</a><br /> <span
        style="color: DarkRed;background-color: DarkRed;border-top: 1px solid white;">.</span><a
        target="info"
        style="font-variant: small-caps; font-style: italic; display: inline;"
        href="examples/transfac-like.txt">Transfac</a><br />
        <h4 class="margin" style="margin-top: 1px;">
          Download
        </h4>
        <a href="src">Source Code</a>
      </div>
        -->
