        <div class="bigtop" style="background-color: PaleGoldenRod; "> <!-- c -->
            <h3 class="goldenRodDarker" style="margin: 0px;"> 2) Motif or PSSM </h3>
            <div class="bigtop goldenRodLighter"> <!-- d -->
                <div class="smallleft goldenRodLighterer" style=" border: 0px solid red;"> <!-- e -->
                    <span style="font-weight: bold; padding-left: 5px;">JASPAR ID Accession</span><br />
                    <div title="pwm_acc" class="indented" style="float: left; line-height: 200%; display: inline;"> <!-- f -->
                        <input name="pwm_acc" type="text" /><br /> 
                        <input name="pwm_acc" type="text" /><br /> 
                        <input name="pwm_acc" type="text" /><br />
                        <input name="pwm_acc" type="text" /><br /> 
                        <input name="pwm_acc" type="text" /> E.g. MA0035, etc.
                    </div> <!-- end f -->
                </div> <!-- end e -->

                <div class="bigright" style=" border: 0px solid DarkGreen; margin: 0px; padding: 0px; height: 100%;"><!-- g-->
                </div> <!-- end g -->
            </div> <!-- end d -->

            <!--  begin motifs -->
            <div class="smallbottom" style="border: 0px solid black;"> <!-- i -->
                <fieldset title="motif" style="border: 1px solid black; margin: 4px;">
                    <legend class="goldenRodDarker" >Specify Motif(s)</legend>
                    <div class="bigleft" style="border: 0px;"> <!-- j -->
                        <div class="indented" style="display: inline-block;"> <!-- j.1 -->
                            List motifs, separated by spaces. e.g. WGATAR TATAA<br />
                            <input name="motif" type="text" size="60" style="margin-bottom: 0px;" />
                        </div> <!-- end j.1 -->
                    </div> <!-- end j -->

                <div class="smallright goldenRodLighter" style="border: 0px solid gray;  "><!-- k -->
                </div><!-- end k -->
                </fieldset>
            </div> <!-- end i -->
        <!--  end motifs -->
        </div> <!-- end c -->
