    <div class="smallbottom" style=" background-color: LightGrey;  border-bottom:0px; padding-right:0px;"><!-- q -->
        <h3 style="margin:0px; margin-bottom: 1px; height: 15%;"> 3) Output </h3>
        <div style="height:84%; margin: 0px;"> <!-- r -->
          <div class="bigleft" style="border-top: 0px;border-bottom: 0px; background-color: LightGrey; "><!-- s -->
            <span style="font-weight: bold; padding-left: 5px;">Scoring</span><br />
            <div class="indented"> <!-- t -->
              <span title="assembly_translate">
                <input type="checkbox" name="assembly_translate" checked="checked" />Convert abbreviations.(hg18 &raquo; human, etc.) See the 
                    <a href="assembly_names.txt">full list.</a></span><br /> 
              <span title="drop_non_ref">
                <input type="checkbox" name="drop_non_ref" checked="false"/>Require matches to include the reference species.</span><br /> 
              <span title="min_matching">Drop results with less than 
                <input title="min_matching" type="text" size="2" name="drop" value="1" />
              species matching.<br /></span>
            </div> <!-- end t -->
          </div> <!-- end s -->
          <div class="smallright" style="border-bottom: 0px; border-top: 0px; background-color: LightGrey; "><!-- u -->
            <div class="indented" title="target"> <!-- v -->
            </div> <!-- end v -->
          </div><!-- end u -->
        </div> <!-- end r -->
    </div> <!-- end q -->
