fieldset {
 height: 75%; 
}
h1, h2, h3 {
 padding: 2px;
 width: 100%;
 margin:0px;
}
h1 {
  padding-left: 1px;
  text-align: left;
}
h3 {
  padding-left: 5px;
  text-align: center;
}
*.cyanDarker {
 background-color: #9DB3B2;
 color: #F7FFFE;
}
*.cyanLighter {
 background-color: #F0FFFE;
}
*.cyanLighterer {
 background-color: #F7FFFE;
}
*.goldenRod {
 background-color: PaleGoldenRod;
}
*.goldenRodLighter {
 background-color: #FEFCDA;
}
*.goldenRodLighterer {
 background-color: #FEFDED;
}
*.goldenRodDarker {
 background-color: #A6A376;
 color: #FEFDED;
}
*.blackLabel {
 background-color: black;
 color: white;
}
*.lightGrayLighterer {
 background-color: #FEFEFE;
}
*.lightGrayLighter {
 background-color: #EDEDED;
}
*.lightGray {
 background-color: #D3D3D3;
}
*.lightGrayDarker {
 background-color: #878787;
 color: #FEFEFE;
}
div {
 float: left;
 height: 100%;
 width: 100%;
}
div.bigbottom {
 height: 61.8034%;
 float: left;
}
div.smalltop {
 height: 38.1966%;
 float: left;
}
div.bigtop {
 height: 61.8034%; 
 float: left;
}
div.smallbottom {
 height: 38.1966%;
 float: left;
}
div.bigleft {
 float: left;
 width: 61.8034%; 
}
div.smallright {
 float: left;
 width: 38.1966%;
}
div.smallleft {
 float: left;
 width: 38.1966%; 
}
div.bigright {
 float: left;
 width: 61.8034%;
}

